TCK: Cookie setMaxAgePositiveTest uses an overly strict Date format for the expires attribute

Specification: [Servlet 5.0 Cookie API](https://jakarta.ee/specifications/servlet/5.0/apidocs/jakarta/servlet/http/cookie)
Assertion: [Servlet:JAVADOC:440](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/internal/docs/servlet/Servlet2.4JavadocAssertions.xml#L5076)

Tests:
[com.sun.ts.tests.servlet.api.jakarta_servlet_http.cookie.URLClient#setMaxAgePositiveTest](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/servlet/api/jakarta_servlet_http/cookie/URLClient.java#L303)
[com.sun.ts.tests.servlet.pluggability.api.jakarta_servlet_http.cookie.URLClient#setMaxAgePositiveTest](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/servlet/pluggability/api/jakarta_servlet_http/cookie/URLClient.java#L336)

TCK:
jakarta-jakartaeetck-9.0.0.zip

Implementation:
Open Liberty / IBM

We raised a [similar challenge](https://github.com/eclipse-ee4j/jakartaee-tck/issues/95) in July 2019 against the 8.0.x TCK about the addition of the CUSTOM_HEADER_DATE_FORMAT of "yyyy-MM-dd HH:mm" in these tests. It was accepted on the grounds that test changes shouldn't have been made in that release at that time. That argument doesn't hold water with 9.0.0, so instead we're challenging on the change being specific to the implementation of the Apache Commons HttpClient and its overly strict interpretation of the [Netscape v0 cookie specification](https://curl.se/rfc/cookie_spec.html).

It is undoubtedly true that the Netscape spec shows that a 4-digit year can be used with a dash separator:
> expires=DATE
>     The expires attribute specifies a date string that defines the valid life time of that cookie. Once the expiration date has been reached, the cookie will no longer be stored or given out.
> 
>     The date string is formatted as:
> 
>         Wdy, DD-Mon-**YYYY** HH:MM:SS GMT
> 
>     This is based on RFC 822, RFC 850, RFC 1036, and RFC 1123, with the variations that the only legal time zone is GMT and the separators between the elements of the date must be dashes.

But that very same specification goes on to show examples of use, like this one that clearly uses a 2-digit year:
> Here are some sample exchanges which are designed to illustrate the use of cookies.
> First Example transaction sequence:
> 
> Client requests a document, and receives in the response:
> 
>     Set-Cookie: CUSTOMER=WILE_E_COYOTE; path=/; expires=Wednesday, 09-Nov-**99** 23:12:40 GMT

[RFC 2109](https://tools.ietf.org/html/rfc2109) is the standard for the v1 cookie specification, and when discussing its predecessor has the following to say. Again, note the use of a 2-digit year.
> 10.1.2  Expires and Max-Age
> 
>    Netscape's original proposal defined an Expires header that took a
>    date value in a fixed-length variant format in place of Max-Age:
> 
>    Wdy, DD-Mon-**YY** HH:MM:SS GMT
> 
>    Note that the Expires date format contains embedded spaces, and that
>    "old" cookies did not have quotes around values.  Clients that
>    implement to this specification should be aware of "old" cookies and
>    Expires.

In 2001's ["HTTP Cookies: Standards, Privacy, and Politics,"](https://arxiv.org/pdf/cs/0105018.pdf) an article by David Kristol, one of the primary authors of the earliest set of cookie specifications and standards, the expires attribute is described:
> The (incomplete, informal) syntax for Netscape’s Set-Cookie looks like this:
> ...
> expires=Date
>   The value for the expires attribute is a timestamp in **one of several standard formats**, but in Coordinated Universal Time (UTC, GMT). If expires is specified, it gives a time after which the cookie should be discarded. If not specified, the cookie is supposed to be discarded “when the user’s session ends.”

Accordingly, Open Liberty has been using date formats for this attribute that meet more modern HTTP standards. For this particular attribute, we support both RFC 1123 (ex. Tue, 24 Nov 2020 21:46:32 GMT) and RFC 2109's interpretation of the Netscape specification (ex. Tue, 24-Nov-20 21:46:32 GMT). The RFC 1123 format is rejected by the Apache Commons HttpClient because it uses spaces for the date delimiter. The format shown in RFC 2109 is what we have certified compliance with for many releases until the recent test change forced the formatting of these dates to YYYY. This causes the year to be interpreted as 0020, which fails the test. I believe that a future update to the test that instead normalizes on the YY format would allow implementations using either interpretation of the Netscape specification to successfully certify while still fixing the case that the test update intended to resolve.

@stuartwdouglas @markt-asf could we please have a `challenge` label as per the [TCK process doc](https://jakarta.ee/committees/specification/tckprocess/).

Attached test result, in case anyone needs to see what this looks like: [URLClient_setMaxAgePositiveTest.jtr](https://github.com/eclipse-ee4j/servlet-api/files/5645461/URLClient_setMaxAgePositiveTest.jtr.txt)


Thanks for all the detail Brian. Lots to digest.

First the simple bit - I've created the challenge label and added it to this issue.

The introduction to RFC 6265 summarises very well the issues with the Netscape cookie spec, RFC 2109 and RFC 2965 and included a reference to David Kristol's paper.

It was between Servlet 3.1 and Servlet 4.0 that the reference to RFC 2109 was removed and RFC 6265 added as the relevant cookie specification for the Servlet specification.

RFC 6265 section 4.1.1 requires servers to generate dates for the expires attribute value in RFC 1123 format. RFC 6265 references RFC 2616 for the details of the date format. RFC 2616 has been obsoleted by RFC 7231 which in turn references RFC 5322 but the end result is the same - dates that use 4 digit years. Following the RFC 2616 route, only 4 digit years are mentioned. Following the RFC 7213 route, RFC 5322 does include 2 digit years but they are classed as obsolete.

Given the requirements of RFC 6265, the disputed test looks correct to me at the moment.

Providing support for legacy clients such as old Apache Commons HttpClient implementations (the last Commons HttpClient release was ~ August 2007 and it then moved to Apache HttpComponents where - as far as I can tell - the RFC 1123 format is now the default) may require providing optional support for other date formats.


I am not a developer in this space for Open Liberty, so I can only speak from the perspective of having researched this for the past week, but the fact that the Servlet specification has made RFC 6265 the relevant cookie specification is news to me.  The [Javadoc](https://jakarta.ee/specifications/servlet/5.0/apidocs/jakarta/servlet/http/cookie) for the Cookie class still only refers to Netscape and 2109.

> RFC 6265 section 4.1.1 requires servers to generate dates for the expires attribute value in RFC 1123 format.

> Apache HttpComponents where - as far as I can tell - the RFC 1123 format is now the default) may require providing optional support for other date formats.

As I mentioned, Open Liberty supports the RFC 1123 format for the expires attribute, but these tests absolutely crash and burn if you try to use it because the test uses the strict Netscape policy to parse the result, choking on the lack of dashes as a separator.

```
        CookieSpec spec = CookiePolicy.getCookieSpec(CookiePolicy.NETSCAPE);
...
        Cookie[] cookies = spec.parse(".eng.com", _port, getServletName(),
            false, CookiesHeader[i]);
```

I'm not sure if the remaining references to RFC 2109 are due to a desire to retain backwards compatibility or an oversight in the move to RFC 6265. I suspect a bit of both. The combination of the cookie spec history and the desire to maintain backwards compatibility with previous versions of the Servlet spec creates a lot of complexity. I think we do need to do some work to clean that up. I will open an issue for that but not yet as I think it makes sense to keep the conversation in one place and focused on the immediate issue.

At this point I want to do a little more research into the tests. I should be able to get to this early next week. 

For what it's worth, there does already seem to be an [issue](https://github.com/eclipse-ee4j/servlet-api/issues/37) to finalize the move to RFC 6265, and it hasn't been completed yet.

I think this boils down to two questions.

1. Does the Servlet 5.0 spec permit the expires attribute of a cookie, if present, to use a 2 digit year?

2. If the answer to the above quesiton is yes, how should that 2 digit year be interpretted.

I think the relevant facts can be summarised as:

 a) The Servlet 5.0 spec references RFC 6265 which requires a 4 digit year.

 b) The Servlet 5 Javadoc references RFC 2109 and the Netscape V0 spec.

 c) The Netscape spec defines a format with a 4 digit year but then uses an example with a 2 digit year.

 d) RFC 2109 states that the Netscape format requires a 2 digit year.


The argument in favour of 4 digit years is:
- RFC 6265 requires a 4 digit year
- RFC 6265 obsoletes RFC 2109 and Netscape V0
- The Netscape V0 definition of expires requires a 4 digit year (and is considered to take precedence over both the example and the statement in RFC 2109)
- If two digit years were allowed there is no definition of which 100 year range they map to

The argument in favour of 2 digit years is:
- Netscape V0 is internally inconsistent therefore either should be allowed
- If anything, RFC 2109 strengthens the case for 2 digit years
- The Servlet 5.0 Javadoc retains references to RFC 2109 and Netscape V0
- The Servlet spec and Javadoc are inconsistent in the cookie specs they use therefore the older specs should be allowed

I think a reasonable case can be made for either view.

Personally, I lean towards requiring 4 digit years because:
- I give greater weight to the reference to RFC 6265 in the spec document than I do the references to the other specs in the Javadoc
- If we allow 2 digit years that creates a separate "how to interpret a 2 digit year" problem
- OpenLiberty switching to use "Wdy, DD-Mon-YYYY HH:MM:SS GMT" rather than "Wdy, DD-Mon-YY HH:MM:SS GMT" in this instance seems like the best overall outcome

I'm curious as to what the other servlet committers think...

If we're going to be beholden to 4-digit years because of RFC 6265, etc., why are we also beholden to using dashes as the delimiter?  That is not a requirement in RFC 6265.  It is only a requirement of the Cookie parser used in this particular test -- the Netscape one.

Additionally, RFC 6265 section 5.1.1 does appear to allow for 2-digit dates.

> The user agent MUST use an algorithm equivalent to the following algorithm to parse a cookie-date:

>    year            = 2*4DIGIT ( non-digit *OCTET )
>    ...
>    3.  If the year-value is greater than or equal to 70 and less than or
>        equal to 99, increment the year-value by 1900.

>    4.  If the year-value is greater than or equal to 0 and less than or
>        equal to 69, increment the year-value by 2000.

The user agent in this case is the test and/or the Apache Commons HttpClient.  That client contains an RFC2965Spec parser by the way, but that is not what is used here.

FYI, I have pinged the other development teams that *should* have an interest in this discussion.  Hopefully, we will get some additional servlet committers engaged.

Just from reading through this exchange between Mark and Brian (very thorough, btw, thank you!), my take is that there is still some necessary cleanup in the Servlet spec and javadoc to resolve this date format question.  And, until that cleanup has occurred, introducing a "new" testcase that assumes a particular interpretation seems premature.  Maybe this testcase needs to be excluded again for Jakarta EE 9?

@markt-asf @stuartwdouglas have you decided yet if you will accept or reject the challenge yet?  If accepted, the mentioned tests will be excluded for Platform TCK 9.0.1 and a Servlet 5.0.1 TCK (which we need to build/release soon anyway).  I'm not sure if you are discussing the post Jakarta Servlet 5.0 change or whether to accept the challenge.

More details:
If you as leads of Jakarta Servlet accept the challenge, please close the issue with label `accepted`.  If you reject the challenge, please close the issue with label `invalid`.

The ideal time line to accept or reject a challenge is two weeks as per quoted text from the [TCK Process](https://jakarta.ee/committees/specification/tckprocess):
```
Active Resolution

The failure to resolve a Challenge might prevent an implementation from going to market; Challenges SHOULD be given a high priority by the specification project and resolved in a timely manner. Two weeks or less SHOULD be considered the ideal period of time to resolve a challenge. Challenges may go longer as needed, but as a rule SHOULD avoid months.

If consensus cannot be reached by the specification project for a prolonged period of time, the default recommendation is to exclude the tests and address the dispute in a future revision of the specification.
```



@stuartwdouglas @markt-asf since it has been two weeks since the challenge has been opened, can we either accept or reject the challenge as per the mentioned process above?

Assuming that it gets accepted, the Platform TCK team will release a 9.0.1 Platform TCK + 5.0.1 Servlet TCK with the following tests excluded:
- com.sun.ts.tests.servlet.api.jakarta_servlet_http.cookie.URLClient#setMaxAgePositiveTest
- com.sun.ts.tests.servlet.pluggability.api.jakarta_servlet_http.cookie.URLClient#setMaxAgePositiveTest


Sorry, I missed this as I was on PTO at the time. 

IMHO the challenge is valid. Both RFC6265 and the Netscape spec allow for 2 digit dates. RFC6265 in particular also allows for other delimiters, so the date format used is definitely overly strict according to the spec.

Personally I would always send a 4 digit year, but we can't evaluate the merits of a challenge based on personal preference.

@markt-asf in your comment you mention that RFC6265 requires a 4 digit year, while section 5.1.1. clearly allows for a 2 digit year. By my reading of the spec I think the challenge is valid and we should accept it.



@stuartwdouglas RFC6265 requires servers to send 4 digit dates and this test is testing server behaviour. The Netscape spec is less clear. There it is formal definition (4 digits) vs. example (2 digits). And RFC 2109 states that the spec requires a 2 digit year.

I agree that servers should be sending 4 digit years - particularly given that there is no definition of how a 2 digit year should be interpreted.

Given the the overall inconsistency in the specs I'm OK with accepting the challenge.

Ah, I just realised I was looking at the wrong spot, even though the user agent should accept two digit dates the server must only send 4 digit ones.

That said reading everything in more detail I think the challenge is still valid. "Sat, 05 Dec 2020 04:32:14 GMT" is valid according to RFC5322 (and RFC2616). 



Blocked on https://github.com/jakartaee/specifications/issues/321 for releasing Jakarta Servlet TCK 5.0.1 + Jakarta EE Platform TCK 9.0.1

This issue can now be closed as https://download.eclipse.org/jakartaee/servlet/5.0/jakarta-servlet-tck-5.0.1.zip + https://download.eclipse.org/jakartaee/platform/9/jakarta-jakartaeetck-9.0.1.zip are published.

https://jakarta.ee/specifications/servlet/5.0/ + https://jakarta.ee/specifications/platform/9/ are updated to link to the ^ published TCKs.

Closing as per previous comment.